{% include 'UserBundle:Base:head.html.twig' %}

<body>
<main role="main">
    {% include 'UserBundle:Base:header.html.twig' %}
    <div class="containerProfile">
        <a class="goToVideo" href="../user/{{ nickname }}">Voir les vidéos de {{ nickname }}</a><br><br>

        <div class="loader"></div>
        <div class="data-profile">
            {% block profile %}
            <p>Nickname  <br>{{ nickname }}</p><br>
            <p>Email  <br>{{ email }}</p><br>
            <p>Date de naissance  <br>{{ birthDate|date('d-m-Y') }}</p><br>
        </div>
        <div class="profile-pic"><p>Image de profile</p> <img src="../assets/uploads/{{ profileImageName }}"
                                                              alt="{{ profileImageName }}"></div>
        <br>
        {% endblock %}
    </div>
</main>
</body>
</html>